<% include ../partials/header %>
<h1>EDIT POLL <%= poll.question %></h1>
<form action="/votes/<%=poll._id%>?_method=PUT" method="POST">
  <input type="text" value="<%= poll.question %>" name="poll[question]">
  <input type="text" value="<%= poll.option1 %>" name="poll[option1]">
  <input type="text" value="<%= poll.option2 %>" name="poll[option2]">
</form>
<% include ../partials/footer %>
